% from bottle import request
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/artistyle.css">
  <title>K-Space Door system</title>
</head>
<body>

  <header>
    <h1>K-Space Door system</h1>
    <nav>
      % if request.get("bottle.request.ext.current_user"):
        <a href="/list">Users</a>
        % if request.current_user["admin"]:
          <a href="/doors">Doors</a>
          <a href="/log">Log</a>
        % end
        <a href="/logout">Logout</a>
      % end
    </nav>
  </header>
  <hr>

  {{!base}}

<hr>

</body>
</html>
