% rebase('base.html')

<h3>Doors List</h3>

<form method="post">
  <input name="action" value="Lock All" type="submit">
  <input name="action" value="Unlock All" type="submit">
</form>

<table class="double">
<thead>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th style="width:13em;">Action</th>
  </tr>
</thead>
<tbody>
  % for door in doors:
    <tr>
      <td>{{door["name"]}}</td>
      <td>{{"Disabled" if door["disabled"] else "Enabled"}}</td>
      <td rowspan="2">
        <form method="post" action="/doors/{{door['id']}}">
          <input name="action" value="Edit" type="submit" style="flex-basis: 50%;">
          <input name="action" value="Disable" type="submit" style="flex-basis: 50%;">
          <input name="action" value="Delete" type="submit">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="2">{{door["note"]}}</td>
    </tr>
  % end
</tbody>
</table>

<hr>
<h3>Add a new door</h3>

<p>Fill out this form to add door and generate a new api key for it.</p>

<form method="post">
  <label for="doorname">Door Name</label>
  <input id="doorname" type="text" name="name">
  <label for="doornote">Door Description</label>
  <input id="doornote" type="text" name="note">
  <input type="submit" value="Add new door">
</form>
