% rebase('base.html')

<h3>Users List</h3>

<table class="even">
<thead>
  <tr>
    <th>Name</th>
    <th style="width:4em;">Cards</th>
    <th style="width:10em;">Last access</th>
  </tr>
</thead>
<tbody>
  % for user in users:
    <tr>
      % if user["disabled"]:
        <td><s><a href="/info/{{user['id']}}">{{user["full_name"]}}</a></s></td>
      % else:
        <td><a href="/info/{{user['id']}}">{{user["full_name"]}}</a></td>
      % end
      <td>{{user["cards"]}}</td>
      <td>-</td>
    </tr>
  % end
</tbody>
</table>
